<div class="container">
    {{#block "content"}}
        <div>MENU
            <t></t>
            <a href="/currencies" class="btn btn-primary">All Currencies</a>
            <t></t>
            <a href="/currencies/create" class="btn btn-secondary">Add A Currency</a>
            <t></t>
            <a href="/currencies/regions" class="btn btn-info">All Regions</a>
            <t></t>
            <a href="/currencies/regionsCountries" class="btn btn-info">All Regions with Countries</a>
            <t></t>
            <a href="/currencies/latlngs" class="btn btn-info">All Countries with Latitude and Longitude</a>
            <t></t>
            <p></p>
        </div>
    {{/block}}
</div>

