<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">

    <title>Assessment Guide</title>
</head>
<body>

    <div>MENU
        <t></t>
        <a href="/currencies" class="btn btn-primary">All Currencies</a>
        <t></t>
         <a href="/currencies/create" class="btn btn-secondary">Add A Currency</a>
        <t></t>
        <a href="/currencies/regions" class="btn btn-info">All Regions</a>
        <t></t>
        <a href="/currencies/regionsCountries" class="btn btn-info">All Regions with Countries</a>
        <t></t>
        <a href="/currencies/latlngs" class="btn btn-info">All Countries with Latitude and Longitude</a>
        <t></t>
        <p></p>
    </div>
    
    {{#extends "basemenu"}}
    {{#block "contentmenu"}}
    <div class="container">
        {{#block "content"}}{{/block}}
    </div>
    <div>MENU
        <t></t>
        <a href="/currencies" class="btn btn-primary">All Currencies</a>
        <t></t>
        <a href="/currencies/create" class="btn btn-secondary">Add A Currency</a>
        <t></t>
        <a href="/currencies/regions" class="btn btn-info">All Regions</a>
        <t></t>
        <a href="/currencies/regionsCountries" class="btn btn-info">All Regions with Countries</a>
        <t></t>
        <a href="/currencies/latlngs" class="btn btn-info">All Countries with Latitude and Longitude</a>
        <t></t>
        <p></p>
    </div>


    <script>
 

    </script>

</body>
</html>
