{{#extends "base"}}
{{#block "content"}}
<h1>Regions</h1>
<table class="table">
    currency_name, alpha2,CallingCodes, alpha3, ioc, symbol
    emoji_iso2, emoji_iso3, emoji_code
    region_alpha2
    <tr>
        <th>Region Name</th>
        <th>Action</th>
    </tr>


    {{#each regions}}
    <tr>
        
        <td>{{this.region_alpha2}}
        </td>

        <td><a href="/regions/{{this.region_id}}/edit">Edit
            </a>
            <a href="/regions/{{this.region_id}}/delete">Delete
            </a>
    </tr>
    {{/each}}
</table>
{{/block}}
{{/extends}}
