{{#extends "base"}}
{{#block "content"}}
<h1>Regions</h1>
<table class="table">
    
    <tr>
        <th>Region Name</th>
        <th></th>
        <!--
        <th>Action</th>
        -->
    </tr>


    {{#each regions}}
    <tr>
        
        <td>{{this.region_alpha2}}
        </td>

        <td>
            <!--
            <a href="/regions/{{this.region_id}}/edit">Edit
            </a>
            <a href="/regions/{{this.region_id}}/delete">Delete
            </a>
            -->
        </td>
    </tr>
    {{/each}}
</table>
{{/block}}
{{/extends}}
