{{#extends "base"}}
{{#block "content"}}
<h1>Regions & Countries</h1>
<table class="table">
    currency_name, alpha2,CallingCodes, alpha3, ioc, symbol
    <p></p>
    emoji_iso2, emoji_iso3, emoji_code
    <p></p>
    region_alpha2
    <p></p>
    region_country_id, region_name, country_iso2
    <p></p>
    <tr>
        <th>Region Name</th>
        <th>Country Name</th>
        <th>Action</th>
    </tr>

    {{#each regionsCountries}}
    <tr>
        
        <td>{{this.region_name}}
        </td>
        <td>{{this.country_iso2}}
        </td>
  
        <td><a href="/regionsCountries/{{region_country_id}}/edit">Edit</a>
    </tr>
    {{/each}}
</table>
{{/block}}
{{/extends}}
